name: 'Testing display-json action'

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  display-json:
    runs-on: ubuntu-latest
    name: Display JSON values
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          pr_number: ${{ github.event.number }}
          token: ${{ secrets.GITHUB_TOKEN }}
